In [35]:
import mysql.connector
from datetime import date

  
mydb = mysql.connector.connect(
  host = "localhost",
  user = "root",
  password = "quocdung",
  database = "numberplate"
) 
  
mycursorInsert = mydb.cursor()
b= date.today()
formatted_date = b.strftime('%Y-%m-%d')
sql = "INSERT INTO Infor_Vehicel_in (number_plate, time_in) VALUES (%s, %s)"
val = ("Ram123311111", formatted_date)
  
mycursorInsert.execute(sql, val)
mydb.commit()
  
print(mycursorInsert.rowcount, "details inserted")
  
# disconnecting from server

DataError: 1406 (22001): Data too long for column 'number_plate' at row 1

In [54]:
 mycursorGet = mydb.cursor()
# selecting query
query = "SELECT * FROM Infor_Vehicel_in where number_plate='Ram12'"
mycursorGet.execute(query)
 
myresult = mycursorGet.fetchall()

dt1 = date(2020, 7, 21)


if not myresult:
    print('Empty list')
else:
    for x in myresult:
        dateindb = x[2]
    
    datestay= date.today() - dt1
    price = datestay.days + 1
    b= 'abc'
    c= 'Bien So Xe: '+ b + ' Va  Gia Tien = ' +str(price)
    print(c)
# disconnecting from server

Bien So Xe: abc Va  Gia Tien = 811

In [29]:
print("details inserted")
mydb.close()

details inserted

2020-07-21

In [ ]:
 # Connect to sql_server
    import mysql.connector
    from datetime import date
  
    mydb = mysql.connector.connect(
      host = "localhost",
      user = "root",
      password = "quocdung",
      database = "numberplate"
    ) 
    # Insert Number Plate
    mycursor = mydb.cursor()
    b= date.today()
    formatted_date = b.strftime('%Y-%m-%d')
    sql = "INSERT INTO Infor_Vehicel_in (number_plate, time_in) VALUES (%s, %s)"
    val = (plate_info, formatted_date)
  
    mycursor.execute(sql, val)
    mydb.commit()
  
    print(mycursor.rowcount, "details inserted")
  
    # disconnecting from server
    mydb.close()

In [64]:
import glob
import os.path

folder_path = r'C:\Users\lyquo\Pictures\Camera Roll'
file_type = r'\*jpg'
files = glob.glob(folder_path + file_type)
if not files:
    print('Folder Empty!')
else:
    max_file = max(files, key=os.path.getctime)
    print(max_file)

C:\Users\lyquo\Pictures\Camera Roll\WIN_20221009_14_07_16_Pro.jpg

In [19]:
import os
if os.path.isfile(max_file):
    os.remove(max_file)
    print("success Delete image")
else:    
    print("File doesn't exists!")

success Delete image

In [73]:
folder_path = r'C:\Users\lyquo\Pictures\Camera Roll'
file_type = r'\*jpg'
files = glob.glob(folder_path + file_type)
if not files:
    print('Image Not Found!')
else:
    max_file = max(files, key=os.path.getctime)
    print(max_file)
    oldpath = max_file
    newpath = Path(r'C:\Users\lyquo\Pictures\Camera Roll', '/', 'Users' + '.jpg')
    os.rename(oldpath, newpath)

C:\Users\lyquo\Pictures\Camera Roll\WIN_20221009_14_37_51_Pro.jpg

In [61]:
from pathlib import Path
a=Path('C:', '/', 'Users' + '.jpg')
print(a)

C:\Users.jpg

In [ ]:

import os

oldpath = './user/user.txt'
newpath = './infor/user_infor.txt'
os.rename(oldpath, newpath)